body {
    background-image: url(/images/background.jpg);
    background-size: cover;
    height: 100vh;

}

.nav-link:hover {
    text-shadow:2px 2px 5px whitesmoke;
}

.quick-me {
    display: flex;
    align-content: center;
}

.pfp-text {
    float: left;
    text-align: center;
    width: 100%;
    font-size: 28px;
}

.pfp {
    float: right;
    border-radius: 50%;
    max-height: 350px;
    max-width: 234px;
    margin-right: 15%;
}

.info-section {
  align-content: center;
}

.info-content {
  align-items: center;
  text-align: center;
}

.info-section button {
  margin-right: 25px;
}



@media (max-width: 991px) { 
    .socials {
      display: none;  /* Hide by default when navbar is collapsed */
    }
    .pfp {
        float: none;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .pfp-text {
      margin: 10px 5px;
    }
  }
  
  @media (min-width: 992px) {
    .socials {
      display: block; /* Show LinkedIn link when navbar is expanded */
    }
  }