body {
    background-image: url(/images/background.jpg);
    background-size: cover;
    height: 100vh;

}

.nav-link:hover {
    text-shadow:2px 2px 5px whitesmoke;
}

/* Home page */

.quick-me {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
}

.pfp-text {
  margin: 0 5%;
    float: left;
    text-align: center;
    width: 100%;
    font-size: 68px;
}

.pfp {
    float: right;
    border-radius: 50%;
    height: 300px;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 15%;
}

.info-section {
  margin-top: 5%;
  align-content: center;
}

.info-content {
  align-items: center;
  text-align: center;
}

.info-section h2 {
  font-size: 54px;
}
.info-section p {
  font-size: 24px;
}

.info-buttons {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

/* End Home page */

/* Contact page */
.contact-box {
  border-radius: 2%;
  margin: 10% 25%;
  outline: solid 2px rgba(114, 111, 111, 0.341);
  padding-bottom: 20px;
}

.contact-submit {
  width: 95%;
  background-color: white;
}
/* End Contact Page */
/* Projects Page */
.tt-pj {
  font-size: 64px;
}


.most-recent-box h2{
  font-size: 36px;
}
.most-recent-box img {
  outline: solid 2px white;
  float: right;
  height: 350px;
  margin-right: 10%;
  margin-left: 20px;
}

.most-recent-box p {
  font-size: 24px;
}

.pj-gal {
  margin-top: 175px;
   margin-bottom: 5px;
}

#csl-gallery {
  background-color: rgba(0, 0, 0, 0.681);
  margin-top: 20px;
  margin-bottom: 10px;
}
#csl-gallery img {
  background: none;
  padding: 0 25%;
  max-height: 200px;
  width: 200px;
}
/* End Projects Page */


@media (max-width: 991px) {
  body {
    background-position: right;
    background-size:cover;
    
  }
  .socials {
    display: none;  /* Hide by default when navbar is collapsed */
  }

  /* Home Page */
  .pfp {
    margin-top: 2px;
    max-height: 250px;
    max-width: 234px;
    float: none;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .pfp-text {
    font-size: 28px;
    margin: 10px 5px;
  }

  .info-section {
    padding-bottom: 30px;
  }

  .info-section h2 {
    font-size: 24px;
  }

  .info-section p {
    margin: 30px 20px;
    font-size: 18px;
  }

  /* End Home Page */
  /* Contact Page */
  .contact-box {
    outline: none;
    margin: 25% 5%;
  }
  /* End of Contact Page */

  /* Projects Page */
  .most-recent-box img {
    float: none;
    outline: solid 2px white;
    margin: 10%;
    max-height: 150px;
  }

  .pj-gal {
    margin-top: 10px;
    margin-bottom: 20px;
  }
}
  
  @media (min-width: 992px) {
    .socials {
      display: block; /* Show LinkedIn and email link when navbar is expanded */
    }
  }